// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #722570;
$primary-bg-1: #310f30;
$primary-bg-2: #3c0b3b;
$link: #1976d2;
$auth-background: #eee;

$profile-red: #7d1d1d;
$profile-blue: #182161;
$profile-green: #215e1b;
$profile-pink: #72266c;
$profile-orange: #b88225;
$profile-light-blue: #175958;
$profile-yellow: #706c1b;
$profile-grey: #414141;
